<div id='cssmenu'>
    <ul>
        <li>
            <a ui-sref="welcome.add">Add</a>
        </li>
        <li class='active'>
            <a ui-sref="welcome.edit">Edit</a>
        </li>
    </ul>
</div>

<!-- SEARCH  -->

<div class="container-fluid" style="margin-top: 10px; margin-bottom: 50px; margin-left: 15px">

    <div class="radio">
        <label>
            <input name="radio" ng-model="ctrl.radio" type="radio" value="client" style="margin-right: 5px; margin-left: 10px" />Client
        </label>

        <label>
            <input name="radio" ng-model="ctrl.radio" type="radio" value="booking" style="margin-right: 5px; margin-left: 25px" />Appointment
        </label>
    </div>

    <!-- SEARCH/EDIT/DELETE CLIENT -->
    <form name="ctrl.searchClientsform" ng-submit="ctrl.searchClientsform.$valid && ctrl.searchClientName()" ng-show="ctrl.radio=='client'"
        novalidate>
        <div class="row">

            <div class="col-md-6 col-md-offset-1">
                <input name="term" class="form-control" ng-model="ctrl.term" type="text" placeholder="Search by first name" required>
                <div data-ng-show="ctrl.searchClientsform.term.$touched || ctrl.searchClientsform.$submitted">
                    <div class="validation" data-ng-show="ctrl.searchClientsform.term.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Please enter your client's first name
                    </div>
                </div>
                <!-- <div class="col-md-1" style="margin-bottom:2px">
                <input class="btn btn-ghost" style="background-color: white; color:#e67e22" ng-click="ctrl.searchAllClients()" type="button"
                    value="All">
            </div> -->
                <!-- <div class="col-md-1" style="margin-bottom:2px">
                <input class="btn btn-ghost" style="background-color: white; color:#e67e22" ng-click="reloadRoute()" type="button" value="Clear">
            </div> -->

            </div>
        </div>

        <div class="row" style="margin-top: 20px">
            <div class="col-md-4 col-md-offset-1" style="margin-bottom:2px">
                <input class="btn btn-ghost" name="submit" type="submit" value="Go">
                <input class="btn btn-ghost" style="background-color: white; color:#e67e22" ng-click="ctrl.searchAllClients()" type="button"
                    value="All">
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-1">

                <div ng-if='ctrl.msg' class="alert alert-danger alert-dismissible fade show" style="margin-top:10px">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <i class='fa fa-exclamation-triangle'></i> {{ctrl.msg}}</div>
            </div>
        </div>

    </form>

    <form name="updateClientForm" ng-repeat="(clientIndex, client) in ctrl.clients" novalidate ng-show="ctrl.radio=='client'">
        <div class="row" style="margin-top: 10px">

            <div class="col-md-3 col-md-offset-1">
                <div class="form-group">
                    <input name="firstname" class="form-control" type="text" ng-model="client.firstname" required>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <input name="lastname" class="form-control" type="text" ng-model="client.lastname" required>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <input name="mobile" class="form-control" minlength="8" maxlength="8" type="text" ng-model="client.mobile" required>
                </div>
            </div>

            <div class="col-md-3">
                <button name="button" ng-click="ctrl.saveClient(client)" class="btn-sm btn-success">
                    <i class="fa fa-check-square" aria-hidden="true"></i>
                </button>
                <button type="button" ng-click="ctrl.deleteClient(client._id); ctrl.removeRow(clientIndex);" class="btn-sm btn-danger">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
            </div>

        </div>
    </form>

    <!-- SEARCH/EDIT/DELETE BOOKINGS -->

    <form name="ctrl.searchBookingsform" ng-submit="ctrl.searchBookingsform.$valid && ctrl.searchBookingByName()" ng-show="ctrl.radio=='booking'"
        novalidate>
        <div class="row">
            <div class="col-md-6 col-md-offset-1">
                <input name="term" class="form-control" ng-model="ctrl.term" type="text" placeholder="Search by first name" required>
                <div data-ng-show="ctrl.searchBookingsform.term.$touched || ctrl.searchBookingsform.$submitted">
                    <div class="validation" data-ng-show="ctrl.searchBookingsform.term.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Please enter your client's first name
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-1" style="margin-bottom:2px">
                <input class="btn btn-ghost" style="background-color: white; color:#e67e22" ng-click="ctrl.searchAllBookings()" type="button"
                    value="F">
            </div> -->
            <!-- <div class="col-md-1" style="margin-bottom:2px">
                <input class="btn btn-ghost" style="background-color: white; color:#e67e22" ng-click="reloadRoute()" type="button" value="C">
            </div> -->

        </div>

        <div class="row" style="margin-top: 20px">
            <div class="col-md-4 col-md-offset-1" style="margin-bottom:2px">
                <input class="btn btn-ghost" name="submit" type="submit" value="Go">
                <input class="btn btn-ghost" style="background-color: white; color:#e67e22" ng-click="ctrl.searchAllBookings()" type="button"
                    value="All">
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-1">

                <div ng-if='ctrl.msg' class="alert alert-danger alert-dismissible fade show" style="margin-top:10px">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <i class='fa fa-exclamation-triangle'></i> {{ctrl.msg}}</div>
            </div>
        </div>

    </form>

    <form name="updateBookingForm" ng-repeat="(bookingIndex, booking) in ctrl.bookings" ng-show="ctrl.radio=='booking'" novalidate>

        <div class="row" style="margin-top: 10px">

            <div class="col-md-3 col-md-offset-1">
                <div class="form-group">
                    <input name="firstname" class="form-control" type="text" ng-model="booking.firstname" required>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <input name="lastname" class="form-control" type="text" ng-model="booking.lastname" required>
                </div>
            </div>

            <div class="col-md-3">

                <div class="form-group">
                    <input name="training" class="form-control" type="text" ng-model="booking.training" required>
                </div>
            </div>

        </div>

        <div class="row" style="margin-top: 10px">

            <div class="col-md-6 col-md-offset-1">
                <div class="form-group">
                    <input name="datetime" class="form-control" type="datetime-local" ng-model="booking.datetime" required>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <input name="notification" class="form-control" type="text" ng-model="booking.notification" required>
                </div>
            </div>

        </div>
        <div class="row" style="margin-bottom: 20px">
            <div class="col-md-3 col-md-offset-1">

                <button name="button" ng-click="ctrl.saveBooking(booking)" class="btn-sm btn-success">
                    <i class="fa fa-check-square" aria-hidden="true"></i>
                </button>
                <button type="button" ng-click="ctrl.deleteBooking(booking._id); ctrl.removeRow(bookingIndex);" class="btn-sm btn-danger">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>

            </div>
        </div>

    </form>



</div>