<div id='cssmenu'>
    <ul>
        <li class='active'>
            <a ui-sref="gwelcome.gcal">Calendar</a>
        </li>
        <li>
            <a ui-sref="gwelcome.gadd">Add Client</a>
        </li>
        <li>
            <a ui-sref="gwelcome.gedit">Edit Client</a>
        </li>
    </ul>
</div>



<!-- GOOGLE CALENDAR  -->

<div class="container-fluid" style="margin-top: 50px; margin-bottom: 50px; margin-left: 15px">

    <!-- <input class="btn btn-ghost" style="background-color: white; color:#e67e22" ng-click="ctrl.searchAllGcal()" type="button"
        value="All"> -->

    <form name="updateGcalForm" ng-repeat="(calIndex, cal) in ctrl.gcal" novalidate>

        <div class="row" style="margin-top: 10px">

            <div class="col-md-3 col-md-offset-1 form-inline">
                <div class="form-group">
                    <input name="summary" class="form-control" type="text" ng-model="cal.summary" disabled="disabled" required>
                </div>
                <div class="form-group">
                    <a class="ion-ios-help-outline tip" style="color: grey; font-size: 80%; margin-left: 10px;">
                        <span>Hi {{cal.summary}}, get ready for {{cal.training}} with {{ctrl.user.google.name}} on {{cal.datetime
                            | date: 'MMM d, y h:mm a'}}</span>
                    </a>
                </div>
            </div>

            <div class="col-md-3 form-inline">
                <div class="form-group">
                    <input name="training" class="form-control" type="text" ng-model="cal.training" required>
                </div>
                <div class="form-group">
                    <a class="ion-ios-help-outline tip" style="color: grey; font-size: 80%; margin-left: 10px;">
                        <span>Hi {{cal.summary}}, get ready for {{cal.training}} with {{ctrl.user.google.name}} on {{cal.datetime
                            | date: 'MMM d, y h:mm a'}}</span>
                    </a>
                </div>
            </div>

            <div class="col-md-3 form-inline">
                <div class="form-group">
                    <input name="mobile" class="form-control" type="text" ng-model="cal.mobile" disabled="disabled" required>
                </div>
            </div>

        </div>

        <div class="row" style="margin-top: 10px">

            <div class="col-md-6 col-md-offset-1">
                <div class="form-group">
                    <input name="datetime" class="form-control" type="datetime-local" min="{{ctrl.todaydate}}" ng-model="cal.datetime" required>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <!-- <input name="notification" class="form-control" type="text" ng-model="cal.notification" required>
                </div> -->

                    <select ng-model="cal.notification" class="form-control">
                        <option value="1 minute">1 minute</option>
                        <option value="12 hours">12 hours</option>
                        <option value="24 hours" selected>24 hours</option>
                        <option value="48 hours">48 hours</option>
                    </select>
                </div>
            </div>

        </div>

        <div class="row" style="margin-bottom: 20px">
            <div class="col-md-3 col-md-offset-1">
                <button name="button" ng-click="ctrl.saveGcal(cal)" class="btn-sm btn-success">
                    <i class="fa fa-check-square" aria-hidden="true"></i>
                </button>
                <button type="button" ng-click="ctrl.deleteGcal(cal); ctrl.removeRow(calIndex);" class="btn-sm btn-danger">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>

            </div>
        </div>

        <!-- <hr style="margin-left:-50px; margin-right:-50px;  border-color:#e67e22"> -->

    </form>

</div>