<div class="container-fluid" style="padding: 0px">

    <nav class="navbar navbar-fixed-top navbar-toggleable-md navbar-inverse ">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="#">meet /peppa</a>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto" style="font-weight: 400">
                <a class="nav-item nav-link" href="" ng-click="ctrl.gotoWhat('what')">Who is Peppa</a>
                <a class="nav-item nav-link" href="" ng-click="ctrl.gotoPlans('plans')">Pricing</a>
                <a class="nav-item nav-link active" ui-sref="login">Log In
                    <span class="sr-only">(current)</span>
                </a>
            </div>
        </div>
    </nav>

    <!-- HERO TEXT -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jumbotron" id="startchange">
                <h1>Personal Assistant</h1>
                <h1>For Fitness Professionals</h1>
                <br>
                <a class="btn btn-full" ui-sref="signup.user" style="font-weight: 400">Meet Peppa</a>
                <a class="btn btn-ghost" ui-sref="signup.user" style="font-weight: 400">Get Started with $1.99</a>
            </div>
        </div>
    </div>

    <!-- MEET PEPPA -->

    <div class="what" id="what">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h3>Meet Peppa</h3>
                    <h4>Make time for more important things</h4>
                    <p>Peppa manages your time effectly by reducing client no-shows and optimizing client revenue by nixing embarrassing
                        booking mix-ups so you have time to be the best at what you do, making people healthy and fit </p>
                </div>
            </div>
        </div>

    <!-- 3 FEATURES -->
    <div class="row">

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <i class="ion-ios-checkmark-outline icons"></i>
            <h4>Reduce no-show</h4>
            <!-- <h4>no-show</h4> -->
            <p>Peppa sends timely SMS reminders to your clients while you're busy at work or at play</p>

        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <i class="ion-ios-alarm-outline icons"></i>
            <h4>Time is gold</h4>
            <p>Peppa verifies bookings with your clients to secure or free up your schedule when there's cancellation</p>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <i class="ion-ios-loop icons"></i>
            <h4>Never miss a beat</h4>
            <p>Peppa reschedules canceled booking immediately with your client to secure a new one</p>
        </div>

    </div>
    <div class="row">
        <br>
        <br>
        <br>
    </div>



    <!-- HOW DOES IT WORK -->
    <!-- <div class="how" id="how">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3>How does it work</h3>
            </div>
        </div>
    </div> -->

    <!-- TESTIMONIALS -->
    <div class="testimonials">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3>We don't want to brag but...</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <blockquote>
                    It is like having my own personal assistant! Peppa manages all my appointments while I'm busy training clients
                    <cite>
                        <img src="css/img/customer-1.jpg">Alberto Duncan</cite>
                </blockquote>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <blockquote>
                    Just what I need! Peppa helps to manage my time more effectively without letting any clients fall through the cracks
                    <cite>
                        <img src="css/img/customer-2.jpg">Sonia Keefer</cite>
                </blockquote>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <blockquote>
                    I find it hard to keep track of my clients' changes. Peppa has been a great mental relief! Keep up the great work!
                    <cite>
                        <img src="css/img/customer-3.jpg">Milton Chapman</cite>
                </blockquote>
            </div>

        </div>

    </div>

    <!-- PRICING -->

    <div class="plans" id="plans">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3>Pricing</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"></div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="plan-box-start">
                    <div>
                        <h3>Hands-On</h3>
                        <p class="plan-price-start">&nbsp;$&nbsp;1.99
                            <span>/ month </span>
                        </p>
                    </div>
                    <div>
                        <ul>
                            <li>
                                <i class="ion-ios-bell"></i>&nbsp;&nbsp;Notify&nbsp;&nbsp;
                                <a class="ion-ios-help-outline tip" style="color: grey; font-size: 80%">
                                    <span>Peppa reminds your clients in advance of scheduled appointments</span>
                                </a>
                            </li>

                            <li>
                                <i class="ion-ios-person"></i>&nbsp;&nbsp;1-1&nbsp;&nbsp;
                                <a class="ion-ios-help-outline tip" style="color: grey; font-size: 80%">
                                    <span>Limited to creating each appointment with 1 participant only</span>
                                </a>
                            </li>

                            <li>
                                <i class="ion-ios-telephone"></i>&nbsp;&nbsp;50 clients&nbsp;&nbsp;
                                <a class="ion-ios-help-outline tip" style="color: grey; font-size: 80%">
                                    <span>Limited to insertions of 50 mobile numbers</span>
                                </a>
                            </li>

                            <li>
                                <i class="ion-ios-bookmarks"></i>&nbsp;&nbsp;50 appointments&nbsp;&nbsp;
                                <a class="ion-ios-help-outline tip" style="color: grey; font-size: 80%">
                                    <span>Limited to creation of 50 appointments</span>
                                </a>
                            </li>

                            <li>
                                <i class="ion-ios-list"></i>&nbsp;&nbsp;Report&nbsp;&nbsp;
                                <a class="ion-ios-help-outline tip" style="color: grey; font-size: 80%">
                                    <span>Reports will be emailed to you at the end of each day to let you know status of notifications</span>
                                </a>
                            </li>

                            <li>
                                <i class="ion-ios-chatboxes"></i>&nbsp;&nbsp;$0.10&nbsp;/&nbsp;SMS&nbsp;&nbsp;
                                <a class="ion-ios-help-outline tip" style="color: grey; font-size: 80%">
                                    <span>Each notification SMS to your clients will be charged and billed to you separately every
                                        30-day
                                    </span>
                                </a>
                            </li>

                            <li style="opacity: 0;">
                                <i class="ion-ios-chatboxes"></i>
                            </li>

                            <li style="opacity: 0;">
                                <i class="ion-ios-chatboxes"></i>
                            </li>

                        </ul>
                    </div>
                    <div>
                        <a ui-sref="signup.user" class="btn btn-full" style="font-weight: 400">Sign Up Now</a>
                    </div>
                </div>
            </div>



            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="plan-box-start">
                    <div>
                        <h3>Hands-free</h3>
                        <p class="plan-price-start">&nbsp;$&nbsp;9.99
                            <span>/ month </span>
                        </p>
                    </div>
                    <div>
                        <ul>

                            <li>
                                <i class="fa fa-google"></i>&nbsp;&nbsp;Sync&nbsp;&nbsp;
                                <a class="ion-ios-help-outline tip" style="color: grey; font-size: 80%">
                                    <span>Peppa manages all your appointments directly from your Google calendar</span>
                                </a>
                            </li>

                            <li>
                                <i class="ion-ios-bell"></i>&nbsp;&nbsp;Notify&nbsp;&nbsp;
                                <a class="ion-ios-help-outline tip" style="color: grey; font-size: 80%">
                                    <span>Peppa sends out reminders in adavance to clients scheduled in your Google calendar</span>
                                </a>
                            </li>

                            <li>
                                <i class="ion-ios-checkmark"></i>&nbsp;&nbsp;Verify&nbsp;&nbsp;
                                <a class="ion-ios-help-outline tip" style="color: grey; font-size: 80%">
                                    <span>Peppa requests clients to confirm or cancel appoinrments and update your Google calendar
                                        accordingly
                                    </span>
                                </a>
                            </li>

                            <li>
                                <i class="ion-ios-calendar-outline"></i>&nbsp;&nbsp;Reschedule&nbsp;&nbsp;
                                <a class="ion-ios-help-outline tip" style="color: grey; font-size: 80%">
                                    <span>If there is a cancellation, Peppa arranges for a new booking with your client and update
                                        it in your Google calendar</span>
                                </a>
                            </li>

                            <li>
                                <i class="ion-ios-compose"></i>&nbsp;&nbsp;Create&nbsp;&nbsp;
                                <a class="ion-ios-help-outline tip" style="color: grey; font-size: 80%">
                                    <span>Clients can SMS Peppa any time to make new appointments and it'll be inserted into your
                                        Google calendar</span>
                                </a>
                            </li>

                            <li>
                                <i class="ion-ios-infinite"></i>&nbsp;&nbsp;Unlimited&nbsp;&nbsp;
                                <a class="ion-ios-help-outline tip" style="color: grey; font-size: 80%">
                                    <span>Unlimited number of clients and appointments</span>
                                </a>
                            </li>

                            <li>
                                <i class="ion-ios-list"></i>&nbsp;&nbsp;Report&nbsp;&nbsp;
                                <a class="ion-ios-help-outline tip" style="color: grey; font-size: 80%">
                                    <span>Reports will be emailed to you at the end of each day to let you know status of notifications</span>
                                </a>
                            </li>

                            <li>
                                <i class="ion-ios-chatboxes"></i>&nbsp;&nbsp;$0.10&nbsp;/&nbsp;SMS&nbsp;&nbsp;
                                <a class="ion-ios-help-outline tip" style="color: grey; font-size: 80%">
                                    <span>Each SMS corresponding with clients will be charged and billed to you seperately every
                                        30-day
                                    </span>
                                </a>
                            </li>

                        </ul>
                    </div>
                    <div>
                        <a ui-sref="" class="btn btn-ghost" style="font-weight: 400">Coming Soon</a>
                    </div>
                </div>
            </div>

        </div>

    </div>



    <!-- CONTACT US -->

    <div class="contact">
        <div class="row">
            <div class="jumptocontact"> </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3>We love to hear from you</h3>

            </div>
        </div>

        <div class="row">

            <div class="col-sm-2 col-lg-4"></div>

            <div class="col-sm-8 col-lg-4" class="registrationpage">

                <form name="ctrl.registrationform" ng-click="ctrl.registrationform.$valid && ctrl.onSubmit()" novalidate>

                    <div class="form-group" ng-hide="ctrl.showResult">
                        <label for="name">Name</label>
                        <input id="name" name="name" type="text" class="form-control" ng-model="ctrl.user.name" required />
                        <!--              
                        <div class="validation" data-ng-show="ctrl.registrationform.name.$touched || ctrl.registrationform.$submitted">
                            <div data-ng-show="ctrl.registrationform.name.$error.required">
                                <span class="glyphicon glyphicon-alert"></span><p>Name is required</p>
                            </div>
                        </div>
                        -->
                    </div>

                    <div class="form-group" ng-hide="ctrl.showResult">
                        <label for="email">Email</label>
                        <input id="email" name="email" type="email" class="form-control" ng-model="ctrl.user.email" required />

                        <!--          
                        <div class="validation" data-ng-show="ctrl.registrationform.email.$touched || ctrl.registrationform.$submitted">
                            <div data-ng-show="ctrl.registrationform.email.$error.required">
                                <span class="glyphicon glyphicon-alert"></span><p>Email is required</p>
                            </div>
                            <div data-ng-show="ctrl.registrationform.email.$error.email">
                                <span class="glyphicon glyphicon-alert"></span><p>Valid email is required</p>
                            </div>
                        </div>
                        -->

                    </div>

                    <div class="form-group" ng-hide="ctrl.showResult">
                        <label for="name">Message</label>
                        <textarea name="message" class="form-control" ng-model="ctrl.user.message" required /></textarea>

                        <!--
                        <div class="validation" data-ng-show="ctrl.registrationform.textarea.$touched || ctrl.registrationform.$submitted">
                            <div data-ng-show="ctrl.registrationform.name.$error.required">
                                <span class="glyphicon glyphicon-alert"></span><p>A message is required</p>
                            </div>
                        </div>
                        -->
                    </div>

                    <!-- SUBMIT -->

                    <div class="row">

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <a href="#" class="btn btn-full" style="font-weight: 400">Send it</a>
                        </div>
                    </div>

                    <!--
                    <div ng-show="ctrl.showResult">
                        <hr/>
                        <h3>Thank you for your submission!</h3>
                    </div>
                -->

            </div>

            </form>
        </div>
    </div>

</div>